@import url('https://fonts.googleapis.com/css?family=Amatic+SC:400,700');
/*universal*/

.thin-text {
  font-weight: 300;
}
.thick-text {
  font-weight: 700;
}

/*nav bar styles*/
.portfolio-logo {
  font-family: fantasy;
}

/*hero*/
.hero {
  background-image: url('../img/hero.jpeg');
  height: 700px;
  background-position: center;
  background-size: cover;
  padding: 30px;
  background-attachment: fixed;
}

.hero-box {
  height: 550px;
  background-color: #fff;
  background-color: rgba(255, 255, 255, 0.5);
  margin-top: 50px;
}

.me-img {
  width: 250px;
  background-position: center;
  border: ridge white;
  border-width: 15px;
}

/*skills styles*/
#skills {
  
}

/*chat image styles*/
#chat-section {
  margin-top:0px;
  background-image: url('../img/files.jpeg');
  height: 350px;
  background-position: center;
  background-size: cover;
  padding: 30px;
  background-attachment: fixed;
}

.chat-bubble {
  margin-top: 50px;
}

 i.fa-comments {
   font-size: 200px;
   display:block;
 }

 /*phone sections*/
 .telephone {
  background-image: url('../img/color-plants.jpeg');
  height: 400px;
  background-position: center;
  background-size: cover;
  padding: 30px;
  opacity: .7;
}



.white-text {
  color: white;
  opacity: 1;
}


/*projects styles*/

.project-img {

}


/*Footer section styles*/

.footer {
  height: 130px;
  background-color: #000;
  margin-top: 15px;
  padding-top: 15px;
}

.contact-info,
.social {
  color: grey;
  margin-top: 10px;
  border-left-style: solid;
  border-color: grey;
  border-width: 2px;
  height: 60px;
  margin-bottom: 10px;
}

  a:link {
    text-decoration: none;
    color: grey;
}

.fine-print {
  font-size: small;
}
