
/*universal*/

.thin-text {
  font-weight: 300;
}
.thick-text {
  font-weight: 700;
}

/*nav bar styles*/
.portfolio-logo {
  font-family: fantasy;
}

/*hero*/
.hero {
  background-image: url('../img/hero.jpeg');
  height: 1200px;
  background-position: center;
  background-size: cover;
  padding: 30px;
  background-attachment: fixed;
}

h1 {
  font-family: 'Vibur', cursive;
}

.hero-box {
  background-color: rgba(255, 255, 255, 0.5);
  margin-top: 50px;
  width: 1170px;
  height: 550px;
  padding: 30px;
}

.me-img {
  width: 250px;
  background-position: center;
  border: ridge white;
  border-width: 15px;
}

/*skills styles*/
/*.skills-box {
  background-color: rgba(255, 255, 255, 0.5);
  margin-top: 50px;
}*/

.skill {
  font-size: 30px;
}

.skills-box {
  background-color: rgba(255, 255, 255, 0.5);
  margin-top: 50px;
  margin-bottom: 50px;
  width: 1170px;
  height: 200px;
  padding: 40px;
}




/*projects styles*/
/*carousel styles*/
.item {
  height: 550px;
  background-size: cover;
  background-position: center;
}

#projectscover {
  background-image: url('../img/projectscover.jpg');
}


#petstore {
  background-image: url('../img/pet.jpg');
}

.flex-wrapper {
  height: 100%;
  display: flex;
  align-items: center;
}

#restuarant {
  background-image: url('../img/wood-2.jpg');
}

#carousel-logo {
  height: 200px;
}

.carousel-caption {
  padding-bottom: 10em;
}

.btn-warning {
  background-color: #f8512f;
  border: none;
}

.btn-warning:hover {
  background-color: #D34326;
}


/*contacct styles*/
.contact-box {
  margin-top:0px;
  background-image: url('../img/files.jpeg');
  height: 350px;
  background-position: center;
  background-size: cover;
  padding: 30px;
  background-attachment: fixed;
}

.chat-bubble {
  margin-top: 50px;
}

 i.fa-comments {
   font-size: 200px;
   display:block;
 }


/*Footer section styles*/

.footer {
  height: 130px;
  background-color: #000;
  padding-top: 15px;
}

.contact-info,
.social {
  color: grey;
  margin-top: 10px;
  border-left-style: solid;
  border-color: grey;
  border-width: 2px;
  height: 60px;
  margin-bottom: 10px;
}

  a:link {
    text-decoration: none;
    color: grey;
}

.fine-print {
  font-size: small;
}
